.vidContainer {
    position: relative;
    padding-bottom: 56.25%;
    margin-top: 50px;
    margin-bottom: -300px;
}

.video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 50%;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .vidContainer {
        margin-bottom: 0;
    }

    .video {
        width: 100%;
        height: 100%;
    }
}


/* !Section for the BAND photos */
.bandPhotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.theHW {
    max-width: 300px;
    height: auto;
    border-radius: 5px;
    box-shadow: 3px 3px 8px #030303;
}

figcaption {
    font-family: Mirza;
    font-size: 1.4rem;
    color: #66add9;
    text-shadow: 0 2px 2px #030303;
}

@media screen and (min-width: 1440px) {
    .theHW {
        max-width: 275px;
        height: auto;
    }
}

/* !Responsive Photo Gallery */
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
}

.column {
    flex: 20%;
    max-width: 20%;
    height: auto;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    width: 100%;
}

img:hover {
    transform: scale(1.5);
    box-shadow: 2px 5px 8px #030303,
        -2px -5px 8px #030303;
}

@media screen and (max-width: 768px) and (min-width: 601px) {
    .column {
        margin: 0 auto;
        flex: 50%;
        max-width: 50%;
        height: auto;
    }
}

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
        height: auto;
    }
}