.vidContainer {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
    margin-top: 50px;
}

.video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 50%;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .video {
        width: 100%;
        height: 100%;
    }
}

/* !Section for the BAND photos */
.bandPhotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.theHW {
    max-width: 300px;
    height: auto;
}

figcaption {
    font-family: Mirza;
    font-size: 1.3rem;
    color: #fefefe;
}