.wrapper {}

.accordion {
    padding: 30px;
    display: flex;
}

.album {
    cursor: pointer;
    padding: 20px;
}

ul {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 2rem;
}

li {
    display: flex;
}

.songList {
    max-height: 0;
    overflow: hidden;
    padding: 0;
    transition: 0.7s cubic-bezier(.26, .65, .5, .53) all;
}

.songList p {
    padding: 10px;
    font-family: Mirza;
    color: #66add9;
    font-size: 1.6rem;
    text-decoration: underline;
}

.accordion li.open .songList {
    max-height: 300px;
}


.songList li {
    font-family: Mirza;
    font-size: 1.5rem;
    color: #66add9;
    padding: 0 4px 0 4px;
}