.albumContainer {
    padding: 30px;
}

.album {
    cursor: pointer;
    padding: 20px;
    position: relative;
}

.songList {
    max-height: 0;
    overflow: hidden;
    padding: 0;
    transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}

.songList li {
    padding: 10px;
    font-family: Mirza;
    color: #66add9;
    font-size: 1.5rem;
}

.albumContainer li.open .songList {
    max-height: 300px;
}