.vidContainer {
    position: relative;
    margin-top: 50px;
}

.video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 50%;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
    .vidContainer {
        position: relative;
        padding-bottom: 56.25%;
        margin-top: 50px;
        margin-bottom: 0;
    }

    .video {
        width: 95%;
        height: 95%;
    }
}

@media screen and (max-width: 768px) {
    .vidContainer {
        position: relative;
        padding-bottom: 56.25%;
        margin-top: 50px;
    }

    .video {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .full {
        display: none;
    }
}

@media screen and (min-width: 1025px) {
    .video {
        display: none;
    }
}


/* !Section for the BAND photos */
.bandPhotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

}

.theHW {
    max-width: 300px;
    height: auto;
    border-radius: 5px;
    box-shadow: 3px 3px 8px #030303;
    margin-right: 1rem;
}

.wrapper{
    position: relative;
    justify-content: center;
    max-width: 300px;
    padding: 12px;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.5s ease;
    width: 100%;
}

.wrapper:hover .image {
    opacity: 0.3;
}
  
.wrapper:hover .overlay {
    opacity: 1;
}
  
.label {
    font-family: Mirza;
    font-size: 1.5rem;
    position: relative;
    color: #66add9;
    background-color: rgba(14, 24, 31, 0.8);
    text-shadow: 0 2px 2px #030303;
    padding: 4px;
}

hr.bandMember {
    width: 75%;
    margin: 0 auto;
    border: 1px solid #c0c0c0;
    margin-top: 12px;
    margin-bottom: 12px;
}

@media screen and (min-width: 1440px) {
    .theHW {
        max-width: 275px;
        height: auto;
    }
}

h3 {
    font-family: Mirza;
    font-size: 2.5rem;
    text-align: center;
    color: #66add9;
}

.saga {
    width: 80%;
    margin: 0 auto;
    padding: 0 3rem;
}

/* !Responsive Photo Gallery */
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
}

.column {
    flex: 20%;
    max-width: 20%;
    height: auto;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    width: 100%;
}

.gallery img:hover {
    transform: scale(1.5);
    box-shadow: 2px 5px 8px #030303,
        -2px -5px 8px #030303;
}

.full-image img:hover {
    transform: scale(0);
}

@media screen and (max-width: 768px) and (min-width: 601px) {
    .column {
        margin: 0 auto;
        flex: 50%;
        max-width: 50%;
        height: auto;
    }
}

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
        height: auto;
    }
    .bandPhotos {
        display: flex;
        width: 100vw;
    }
    .theHW {
        margin-right: 0;
    }
}

/* Scroll to top button */
.far {
    font-size: 2.3rem;
    color: #66add9;
    text-shadow: 0 2px 8px #030303;
}

#scrollButton {
    display: none;
    position: fixed;
    bottom: 4rem;
    right: 2rem;
    z-index: 10;
}

.far:hover {
    color: #fefefe;
    text-shadow: 0 3px 10px #030303;
}

@media screen and (max-width: 600px) {
    .far {
        color: #fefefe;
    }
}