section#socialMedia {
    margin: 0 auto;
    padding-top: 4rem;
}

.socLogo img {
    max-width: 375px;
    height: auto;
}

.socMedia {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.socMedia ul {
    padding: 0;
    display: flex;
}

.socMedia li {
    list-style: none;
    padding: 8px;
}

li img {
    border-radius: 6px;
    box-shadow: 0 3px 6px rgba(3, 3, 3, 0.6);
}

li img:hover {
    transform: scale(1.1);
}

.socLinks {
    max-width: 48px;
    height: auto;
}

.horde {
    margin: 0 auto;
}

p {
    font-family: Mirza;
    font-size: 3rem;
    color: #66add9;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.contact {
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    padding-left: 50px;
}

.agrLogo {
    max-width: 250px;
    height: auto;
}

@media screen and (max-width: 768px) {
    .contact {
        display: flex;
        flex-flow: column;
    }
}