section#socialMedia {
    margin: 0 auto;
    padding-top: 4rem;
}

.socLogo img {
    max-width: 375px;
    height: auto;
}

.socMedia {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.socMedia ul {
    padding: 0;
    display: flex;
}

.socMedia li {
    list-style: none;
    padding: 8px;
}

li img {
    border-radius: 6px;
    box-shadow: 0 3px 6px rgba(3, 3, 3, 0.6);
}

li img:hover {
    transform: scale(1.2);
    box-shadow: 0 4px 8px rgba(3, 3, 3, 0.8);
}

.socLinks {
    max-width: 48px;
    height: auto;
}

.horde {
    margin: 0 auto;
}

p {
    font-family: Mirza;
    font-size: 3rem;
    color: #66add9;
}

a {
    text-decoration: none;
    cursor: pointer;
}

/* !Form Controls */
.contact {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 0 2rem;
    margin-top: 4rem;
}

.sideLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 2rem;
}

.formGroup {
    width: 80%;
    max-width: 400px;
    margin: 0;
    margin-top: 0;
    border-radius: 4px;
}

.formGroup * {
    box-sizing: border-box;
}

.form-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    padding: 0;
}

.form-flex ul {
    margin-top: 0;
}

.form-flex li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.form-flex>li:not(:last-child) {
    margin-bottom: 8px;
}

.form-flex li label,
.form-flex li {
    padding: 6px;
    font-family: Roboto;
    font-size: 1rem;
    color: #66add9;
    text-transform: uppercase;
    text-align: left;
}

.form-flex>li>label,
.form-flex li p {
    flex: 1 0 150px;
    max-width: 350px;
}

.form-flex>li>label+* {
    flex: 1 0 350px;
}

.form-flex li p {
    margin: 0;
}

.form-flex li input,
.form-flex li textarea {
    padding: 12px;
    font-family: Roboto;
    border: none;
    border-radius: 2px;
}

.form-flex li button {
    margin-left: auto;
    padding: 8px 1rem;
    border: none;
    border-radius: 5px;
    background-color: #4469b0;
    color: #fefefe;
    font-family: Roboto;
    text-transform: uppercase;
}

.form-flex li button:hover {
    background-color: rgb(0, 85, 155);
    color: rgb(255, 206, 0);
    box-shadow: 0 4px 10px #030303;
    transform: scale(1.02);
}

.hordeLogo,
.agrLogo {
    max-width: 325px;
    height: auto;
}

@media screen and (max-width: 768px) {
    .contact {
        display: flex;
        flex-flow: column;
        justify-content: center;
    }

    .sideLinks {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }

    .agr {
        padding-top: 1rem;
    }

    .form-flex li input,
    .form-flex li textarea {
        padding: 12px;
        font-family: Roboto;
        border: none;
        border-radius: 2px;
        max-width: 325px;
    }
}