section#socialMedia {
    margin: 0 auto;
    padding-top: 4rem;
}

.socLogo img {
    max-width: 375px;
    height: auto;
}

.socMedia {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.socMedia ul {
    padding: 0;
    display: flex;
}

.socMedia li {
    list-style: none;
    padding: 8px;
}

li img {
    border-radius: 6px;
    box-shadow: 0 3px 6px rgba(3, 3, 3, 0.6);
}

li img:hover {
    transform: scale(1.2);
    box-shadow: 0 4px 8px rgba(3, 3, 3, 0.8);
}

.socLinks {
    max-width: 48px;
    height: auto;
}

.horde {
    margin: 0 auto;
}

p {
    font-family: Mirza;
    font-size: 3rem;
    color: #66add9;
}

a {
    text-decoration: none;
    cursor: pointer;
}

/* !Form Controls */
.contact {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 0 2rem;
    margin-top: 4rem;
}

.sideLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 2rem;
}

.hordeLogo,
.agrLogo {
    max-width: 300px;
    height: auto;
}

input:focus {
    border: 2px solid #66add9;
}

@media screen and (max-width: 768px) {
    /*
    .contact {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }
    */

    .sideLinks {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }

    .agr {
        padding-top: 1rem;
    }
}