/*** NAVBAR COLORS ***/
/*
BLUE
#004B87
RGB: (0 75 135)

YELLOW
#FFCD00
RGB: (255 209 0)
*/
@font-face {
    font-family: 'beowulf';
    src: url('../resources/beowulf.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html {
    background-color: #000000;
    min-height: 100vh;
    text-align: center;
    font-size: 16px;
}
.container {
    width: 90vw;
    position: fixed;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1 {
    font-family: 'beowulf';
    color: #ce1126;
    font-size: clamp(2.175rem, 5vw, 5rem);
    text-shadow: 0 4px 4px #000000;
    font-weight: normal;
    letter-spacing: 4px;
    text-align: center;
}
h2 {
    font-family: 'Pirata One';
    font-size: 4rem;
    letter-spacing: 4px;
    font-weight: normal;
    color: #fefefe;
    text-shadow: 0 4px 8px #000000;
    margin-bottom: 0;
}
.saga p {
    font-family: Grenze;
    font-size: 1.4rem;
    color: #fefefe;
}
textarea:focus,
button:focus,
input:focus {
    outline: 3px solid #66add9;
}
/* ?NAV COMPONENTS */
.navList {
    width: 50%;
    margin: 0 auto;
    padding-left: 0;
    display: flex;
    justify-content: space-around;
    line-height: 1;
    border-radius: 15px;
    background: -moz-linear-gradient(left, rgba(0, 75, 135, 0.25) 0%, rgba(0, 75, 135, 0.5) 26%, rgba(0, 75, 135, 1) 50%, rgba(0, 75, 135, 0.5) 75%, rgba(0, 75, 135, 0.25) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0, 75, 135, 0.25) 0%, rgba(0, 75, 135, 0.5) 26%, rgba(0, 75, 135, 1) 50%, rgba(0, 75, 135, 0.5) 75%, rgba(0, 75, 135, 0.25) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0, 75, 135, 0.05) 0%, rgba(0, 75, 135, 0.40) 26%, rgba(0, 75, 135, 1) 50%, rgba(0, 75, 135, 0.40) 75%, rgba(0, 75, 135, 0.05) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.navLinks {
    list-style: none;
    padding: 4px 8px 8px 8px;
}
.navLinks:hover {
    transform: scale(1.17);
}
li a {
    color: rgb(255, 206, 0);
    text-decoration: none;
    font-family: Grenze;
    font-size: 1.5rem;
}
li a:hover {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}
/* !Form Success */
.successContainer {
    width: 25%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #66add9;
    border-radius: 5px;
    padding: 2rem;
    box-shadow: 2px 4px 16px #030303, -2px -4px 16px #030303;
}
.successContainer p {
    font-family: Mirza;
    font-size: 1.5rem;
    color: #fefefe;
}
.successContainer a {
    text-decoration: none;
    font-family: Mirza;
    font-size: 1.2rem;
    color: #66add9;
}
@media screen and (max-width: 600px) {
    .successContainer {
        width: 60%;
    }
    .successContainer p {
        font-size: 1.3rem;
    }
}
@media screen and (max-width: 768px) and (min-width: 601px) {
    .successContainer {
        width: 60%;
    }
    .successContainer p {
        font-size: 1.4rem;
    }
}
@media screen and (max-width: 1024px) and (min-width: 769px) {
    .successContainer {
        width: 70%;
    }
}
/* !Mobile Nav Components */
@media screen and (min-width: 1025px) {
    .axeBtn,
    .navOverlay {
        display: none;
    }
}
@media screen and (max-width: 1024px) {
    nav {
        display: none;
    }
    .navOverlay {
        height: 0%;
        width: 100vw;
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        background-color: rgba(3, 3, 3, 0.9);
        overflow-y: hidden;
        transition: 0.3s ease;
    }
    .navLinks {
        position: absolute;
        top: 25%;
        width: 100vw;
        margin: 0;
        padding: 0;
    }
    .navLinks a {
        text-decoration: none;
        font-family: 'yggdrasilregular';
        font-size: 3rem;
        color: rgb(0, 85, 155);
        display: flex;
        justify-content: center;
        transition: 0.3s ease-out;
        margin-right: 0;
    }
    .navOverlay .closeBtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
        color: #fefefe;
        text-decoration: none;
    }
}
@media screen and (max-width: 384px) {
    .axes {
        margin: 0 auto;
        padding-top: 36px;
        width: 72px;
    }
    .navLinks a {
        text-decoration: none;
        font-family: 'yggdrasilregular';
        font-size: 2.7rem;
        color: rgb(0, 85, 155);
        display: flex;
        justify-content: center;
        transition: 0.3s ease-out;
        margin-right: 0;
        padding: 10px;
    }
    .navOverlay .closeBtn {
        position: absolute;
        top: 40px;
        right: 60px;
    }
}
@media screen and (max-width: 600px) and (min-width: 385px) {
    .axes {
        margin: 0 auto;
        padding-top: 40px;
        width: 84px;
    }
    .navOverlay a {
        padding-top: 1.1rem;
    }
}
@media screen and (max-width: 768px) and (min-width: 601px) {
    .axes {
        margin: 0 auto;
        padding-top: 60px;
        width: 108px;
    }
    .navOverlay a {
        font-size: 3.5rem;
        padding-top: 2rem;
    }
    .navOverlay .closeBtn {
        top: 60px;
        right: 115px;
        font-size: 96px;
    }
}
@media screen and (max-width: 1024px) and (min-width: 769px) {
    .axes {
        margin: 0 auto;
        padding-top: 75px;
        width: 125px;
    }
    .navOverlay a {
        font-size: 4rem;
        padding-top: 2rem;
    }
    .navOverlay .closeBtn {
        top: 80px;
        right: 150px;
        font-size: 108px;
    }
}
@media screen and (max-width: 768px) {
    h2 {
        margin: 0 auto;
        padding-top: 12px;
        font-size: 2rem;
    }
}
@media screen and (max-width: 1360px) and (min-width: 769px) {
    h2 {
        font-size: 3rem;
    }
}