@font-face {
    font-family: 'yggdrasilregular';
    src: url('../resouces/yggdrasil-webfont.woff2') format('woff2'),
        url('../resources/yggdrasil-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    background-color: #000000;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../resources/warriors.jpg') center center no-repeat;
    background-size: cover;
    min-height: 100vh;
    text-align: center;
    font-size: 16px;
}

.container {
    width: 90vw;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    max-width: 100%;
    height: auto;
}

h1 {
    font-family: 'yggdrasilregular';
    color: #66add9;
    text-shadow: 0 4px 8px #000000;
    font-size: 3rem;
    letter-spacing: 4px;
    text-align: center;
}

h2 {
    font-family: Mirza;
    font-size: 4rem;
    letter-spacing: 3px;
    color: #fefefe;
    text-shadow: 0 4px 8px #000000;
    margin-bottom: 0;
}

/* ?NAV COMPONENTS */
.navList {
    width: 50%;
    margin: 0 auto;
    padding-left: 0;
    display: flex;
    justify-content: space-around;
    line-height: 1;
    border-radius: 15px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#00559b+0,00559b+50,00559b+100&0.25+0,0.5+26,1+50,0.5+75,0.25+100 */
    background: -moz-linear-gradient(left, rgba(0, 85, 155, 0.25) 0%, rgba(0, 85, 155, 0.5) 26%, rgba(0, 85, 155, 1) 50%, rgba(0, 85, 155, 0.5) 75%, rgba(0, 85, 155, 0.25) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0, 85, 155, 0.25) 0%, rgba(0, 85, 155, 0.5) 26%, rgba(0, 85, 155, 1) 50%, rgba(0, 85, 155, 0.5) 75%, rgba(0, 85, 155, 0.25) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0, 85, 155, 0.25) 0%, rgba(0, 85, 155, 0.5) 26%, rgba(0, 85, 155, 1) 50%, rgba(0, 85, 155, 0.5) 75%, rgba(0, 85, 155, 0.25) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4000559b', endColorstr='#4000559b', GradientType=1);
    /* IE6-9 */
}

.navLinks {
    list-style: none;
    padding: 4px 8px 8px 8px;
}

li a {
    color: rgb(255, 206, 0);
    text-decoration: none;
    font-family: Mirza;
    font-size: 1.5rem;
}

li .navLinks:hover {
    transform: scale(1.15);
}

li a:hover {
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}

/* !Mobile Nav Components */
@media screen and (min-width: 1025px) {

    .axeBtn,
    .navOverlay {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    nav {
        display: none;
    }

    .navOverlay {
        height: 0%;
        width: 100%;
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        background-color: rgba(3, 3, 3, 0.9);
        overflow-y: hidden;
        transition: 0.3s ease;
    }

    .navLinks {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: left;
    }

    .navLinks a {
        text-decoration: none;
        font-family: 'yggdrasilregular';
        font-size: 3rem;
        color: rgb(0, 85, 155);
        text-align: center;
        display: block;
        transition: 0.3s ease-out;
    }

    .navOverlay .closeBtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
        color: #fefefe;
        text-decoration: none;
    }
}

@media screen and (max-width: 600px) {
    .axes {
        margin: 0 auto;
        padding-top: 40px;
        width: 84px;
    }
}

@media screen and (max-width: 768px) and (min-width: 601px) {
    .axes {
        margin: 0 auto;
        padding-top: 60px;
        width: 108px;
    }

    .navOverlay a {
        font-size: 3.5rem;
    }

    .navOverlay .closeBtn {
        top: 60px;
        right: 115px;
        font-size: 96px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
    .axes {
        margin: 0 auto;
        padding-top: 75px;
        width: 125px;
    }

    .navOverlay a {
        font-size: 4rem;
    }

    .navOverlay .closeBtn {
        top: 80px;
        right: 150px;
        font-size: 108px;
    }
}