@font-face {
    font-family: 'Yggdrasil';
    src: url(../resources/'Yggdrasil.woff') format('woff');
}

html {
    background-color: #000000;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../resources/warriors.jpg') center center no-repeat;
    background-size: cover;
    min-height: 100vh;
    text-align: center;
    font-size: 16px;
}

.container {
    width: 90vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    max-width: 100%;
    height: auto;
}

h1 {
    font-family: 'Yggdrasil';
    color: #66add9;
    text-shadow: 0 4px 8px #000000;
    font-size: 3rem;
    letter-spacing: 4px;
    text-align: center;
}

h2 {
    font-family: Mirza;
    font-size: 3rem;
    letter-spacing: 3px;
    color: #fefefe;
    text-shadow: 0 4px 8px #000000;
    margin-bottom: 0;
}