@import url('https://fonts.googleapis.com/css2?family=Mirza:wght@500&family=Roboto&display=swap');

@font-face {
    font-family: "Yggdrasil";
    src: url('../../static/fonts/Yggdrasil.woff');
}

html {
    background-color: #030303;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('../images/warriors.jpg') center center no-repeat;
    background-size: cover;
    min-height: 100vh;
    text-align: center;
    font-size: 16px;
}

.logo {
    max-width: 90%;
    height: auto;
}

p {
    color: #ffffff;
    font-family: Roboto;
}

h1 {
    color: #66add9;
    text-shadow: 0 4px 8px #000000;
    font-family: Yggdrasil;
    font-size: 3rem;
    letter-spacing: 3px;
}