.container {
    margin: 3rem auto;
    max-width: 1200px;
}

@media screen and (max-width: 600px) {
    .container {
        width: 95vw;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}