ul {
    width: 50%;
    margin: 0 auto;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #004B87;
    line-height: 1;
}

li {
    list-style: none;
    padding: 8px;
}

li a {
    color: #FFCD00;
    text-decoration: none;
    font-family: Mirza;
    font-size: 1.5rem;
}

li:hover {
    transform: scale(1.15);
}

li a:hover {
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}

.axes {
    display: none;
}

@media screen and (max-width: 600px) {
    ul {
        display: none;
    }

    .axeBtn {
        margin-top: 50px;
    }
}

@media screen and (min-width: 601px) {
    .axeBtn {
        width: 84px;
        margin-top: 75px;
    }
}

@media screen and (min-width: 769px) {
    .axeBtn {
        width: 108px;
        margin-top: 90px;
    }
}

@media screen and (max-width: 1024px) {
    Nav {
        display: none;
    }
}