ul {
    width: 50%;
    margin: 0 auto;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #004B87;
    line-height: 1;
}

li {
    list-style: none;
    padding: 8px;
}

li a {
    color: #FFCD00;
    text-decoration: none;
    font-family: Mirza;
    font-size: 1.5rem;
}

@media screen and (max-width: 600px) {
    ul {
        display: none;
    }
}